@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

$Purple-100: hsl(254, 88%, 90%);
$Purple-500: hsl(256, 67%, 59%);
$Yellow-100: hsl(31, 66%, 93%);
$Yellow-500: hsl(39, 100%, 71%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 7%);
$background: hsl(0, 0%, 94%);

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 500;
    letter-spacing: 0px;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.3rem;
    margin: 2rem 1rem;
    background-color: $background;
    line-height: 1;
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        section {
            border-radius: 1rem;
            max-width: 30rem;
            width: 90vw;
        }

        .s1 {
            background-color: $Purple-500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $White;
            h1 {
                text-align: center;
                margin-block-end: 1rem;
                margin-block-start: 2rem;
                width: 70%;
                font-weight: 500;
            }

            .cointainer {
                width: 60%;
            }
            span:first-of-type {
                color: $Yellow-500;
            }
            p {
                margin-block-end: 2rem;
            }
        }

        .s2 {
            background-color: $White;

            .cointainer {
                margin-block-start: 1.5rem;
            }

            h2 {
                margin: 1rem 1rem 1.5rem 1rem;
                font-size: 1.1em;
            }
        }

        .s3 {
            background-color: $Yellow-500;
            h2 {
                margin: 1.5rem 1rem 1rem 1rem;
                font-size: 1.1em;
            }

            .cointainer {
                width: 13.5rem;
                margin: 0 auto 0 1rem;
                height: 9rem;
                overflow: hidden;
                img {
                    height: 10rem;
                }
            }
        }

        .s4 {
            background-color: $Purple-100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                margin: 1.5rem 1rem;
                font-size: 1.1em;
            }

            .cointainer {
                min-width: 19.0938rem;
                max-width: 22rem;
                margin: 0 1rem;
            }

            p {
                font-size: 0.9em;
                margin: 1.5rem 1rem;
                text-align: center;
            }
        }

        .s5 {
            background-color: $Purple-500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .cointainer {
                width: 65%;
                max-width: 22rem;
                margin: 1.5rem;
            }

            h2 {
                color: $White;
                width: 65%;
                text-align: center;
                margin: 1.5rem;
                margin-block-start: 0;
                font-size: 1.5em;
            }
        }

        .s6 {
            background-color: $White;

            h2 {
                margin: 1.5rem;
            }
            p {
                margin: 0 1.5rem;
            }

            .cointainer {
                margin: 1.5rem;
                width: 60%;
                max-width: 22rem;
            }
        }

        .s7 {
            background-color: $Yellow-100;

            h2 {
                font-size: 1.3em;
                margin: 1.5rem;

                span {
                    color: $Purple-500;
                }
            }

            .cointainer {
                margin: 1.5rem;
                width: 60%;
                max-width: 22rem;
            }
        }

        .s8 {
            background-color: $Yellow-500;

            h2 {
                margin: 1.5rem;
            }

            .cointainer {
                margin: 1.5rem;
                width: 70%;
                max-width: 22rem;
            }
        }
    }
}

img {
    width: 100%;
    height: 100%;
}

span.italic {
    font-style: italic;
}

@media (min-width: 940px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;

        main {
            height: 100%;
            display: grid;
            width: 80%;
            grid-template-columns: repeat(2, 1fr);
            max-width: 51.375rem;
            section {
                width: 100%;
                height: 100%;
                max-width: none;
            }

            .s1 {
                grid-column: 1/3;
                width: 100%;
                max-width: none;

                h1 {
                    width: 100%;
                }
                .cointainer {
                    width: 40%;
                    margin-block-end: 0.5rem;
                }
            }

            .s6 {
                grid-column: 2/3;
                grid-row: 5/6;
            }

            .s7 {
                grid-column: 2/3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    font-size: 2em;
                }
            }
            .s8 {
                grid-row: 4/6;

                .cointainer {
                    max-width: none;
                    width: 80%;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    body {
        main {
            width: 90%;
            max-width: 90rem;
            grid-template-columns: repeat(4, 1fr);
            height: 70%;

            h2 {
                font-size: 1.9em;
            }

            .s1 {
                grid-column: 2/4;

                h1 {
                    font-size: 3em;
                    width: 90%;
                }
            }

            .s7 {
                grid-row: 1/2;
                grid-column: 1/2;
                height: 130%;
                align-self: self-start;

                .cointainer {
                    width: 80%;
                }
            }

            .s4 {
                grid-row: 1/3;
                grid-column: 4/5;

                h2 {
                    font-size: 2em;
                    margin-inline-start: 3rem;
                }

                p {
                    margin-inline-start: 3rem;
                    text-align: left;
                    font-size: 1.1em;
                }

                .cointainer {
                    max-width: none;
                    overflow: hidden;
                    position: relative;
                    left: 1rem;

                    img {
                        width: 120%;
                    }
                }
            }

            .s8 {
                grid-column: 1/2;
                grid-row: 2/4;
                height: 80%;
                align-self: self-end;
            }

            .s2 {
                grid-column: 3/4;
                grid-row: 2/3;

                h2 {
                    font-size: 1.5em;
                }

                .cointainer {
                    overflow: hidden;

                    position: relative;
                    img {
                        width: 130%;
                    }
                }
            }

            .s3 {
                grid-column: 2/3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    font-size: 1.5em;
                    margin-inline-end: 2rem;
                }

                .cointainer {
                    height: 7rem;
                    img {
                        height: 10rem;
                    }
                }
            }

            .s5 {
                grid-column: 3/5;
                display: flex;
                flex-direction: row;
                h2 {
                    font-size: 2.3em;
                    text-align: left;
                }
            }

            .s6 {
                grid-row: 3/4;
                h2 {
                    font-size: 3.4em;
                }
                p {
                    font-size: 1.1em;
                }
                .cointainer {
                    width: 80%;
                }
            }
        }
    }
}
